main {
    flex: 1;
    padding-bottom: 2em;
    outline: 0;

    .main-heading {
        font-family: 'cornerstone', sans-serif;
        padding: 1rem 0 2rem;
        color: #313030;
        font-size: 1.8em;
        outline: 0;
        text-align: center;
    }
}