*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: $grayDarker;
    background: $brandPrimary;
    font-family: 'geomanist', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
}

.main {
    flex: 1;
    padding-bottom: 2em;
    outline: 0;
    position: relative;

    &-heading {
        font-family: 'cornerstone', sans-serif;
        padding: 1rem 0 2rem;
        color: #313030;
        font-size: 1.8em;
        outline: 0;
        text-align: center;
    }
}

.container {
    width: 100%;
    max-width: var(--container);
    margin-right: auto;
    margin-left: auto;
    padding-right: calc(var(--containerGutter) / 2);
    padding-left: calc(var(--containerGutter) / 2);
}

#root {
    width: 100%;
    display: flex;
    flex-direction: column;
}

a {
    &:hover {
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: normal;
    padding: 0;
    margin: 0;
}

h3 {
    font-size: 24px;
}
h4 {
    font-size: 20px;
}

.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.skip-link {
    padding: 6px;
    position: absolute;
    top: -40px;
    left: 0;
    color: $base;
    border-right: 1px solid $base;
    border-bottom: 1px solid $base;
    border-bottom-right-radius: 8px;
    background: $brandPurple;
    transition: top 1s ease-out;
    z-index: 100;

    &:focus {
        position: absolute;
        left: 0;
        top: 0;
        outline-color: transparent;
        transition: top 0.1s ease-in;
    }
}